*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Beau Rivage', sans-serif;
}





body {
    background: linear-gradient(to right, #84fd74, #1e8a27);
    margin: 0;
}

h1 {
    text-decoration: none;
    color: #fff;
  }

header {
    background: linear-gradient(to right, #1d5f14, #1e8a27);
    color: rgb(110, 226, 100);
    padding: 2%;
    display: flex;
    height: 30px;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
}

  .hero {
    background: url('421124.jpg') center/cover no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;

}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5em;
    margin: 0;
}


nav {
    width: 50%;
}
nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    align-items: center ;
  }

nav > ul > li {
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
  border-radius: 5px;
  transition: background-color 0.6s ease-in-out;
}

nav > ul > li:hover {
    cursor: pointer;
    background-color: rgb(255, 248, 248);
    color: rgb(189, 192, 30);

}

li > a {
  color: inherit;
  text-decoration: none;
}



.search-container {
    text-align: center;
    margin: 20px;
    display: flex;
}

input[type="text"] {
    padding: 10px;
    padding-right: 10%;
    width: 300px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}


.profile-area {
    padding: 80px 0;
}

.container1 {
    max-width: 475px;
    margin: 0 auto;
}

.card {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 15px;
}

.img1 img {
    height: 280px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.img2 img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: 80px;
}

.card:hover .img2 img {
    border-color: darkcyan;
    transition: 0.7s;
}

.main-text {
    padding: 30px 0;
    text-align: center;
}

.main-text h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 20px;
}

.main-text p {
    font-size: 16px;
    padding: 0 35px;
}

.socials {
    text-align: center;
    padding-bottom: 20px;
}

.socials i{
    font-size: 20px;
    color: darkcyan;
    padding: 0 10px;
}
