*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Beau Rivage', sans-serif;
}


body {
    background: linear-gradient(to right, #84fd74, #187e20);
    margin: 0;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}


.header {
    background-color: rgba(0, 0, 0, 0.404);
    backdrop-filter: blur(30px);
    color: rgb(110, 226, 100);
    padding: 20px 100px;
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
}

.logo{
    size: 32px;
}

.navbar a{
    font-size: 18px;
    border: 5px 0 black;
    color: rgb(255, 255, 255);
    position: relative;
    font-weight: 700;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 100%;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: 0.4s;
}

.navbar a:hover::before {
    width: 100%;
}


  .hero {
    background: url('421124.jpg') center/cover no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background-size: cover;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5em;
    margin: 0;
}




.profile-area {
    padding: 80px 0;
}

.container1 {
    max-width: 475px;
    margin: 0 auto;
}

.card {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 15px;
}

.img1 img {
    height: 280px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.img2 img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: 80px;
}

.card:hover .img2 img {
    border-color: darkcyan;
    transition: 0.7s;
}

.main-text {
    padding: 30px 0;
    text-align: center;
}

.main-text h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 20px;
}

.main-text p {
    font-size: 16px;
    padding: 0 35px;
}

.socials {
    text-align: center;
    padding-bottom: 20px;
}

.socials i{
    font-size: 20px;
    color: darkcyan;
    padding: 0 10px;
}
