*{
    font-family: 'aladin', sans-serif ;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Goudy Bookletter 1911', serif;
    font-family: 'Lobster', sans-serif;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}